body.post{
   background: #b75e10;
}
body.post .post-content{
   line-height: 1.3rem;
   color: #394775;
}
.box{
   background: #ffcd51;
   box-shadow: black 0px 0px 9px 5px;
   padding: 5%;
   min-width: 75vw;
}
.show-post-content .written-by{
   border-top: 4px solid #dfff00;
   border-radius: 30%;
}

body.post .written-by a,
body.post .written-by{
   color: black;
}
body.user .author li:last-child a{
   color: #3f4f87;
}
.tags{
   max-width: 75vw;
}


/* Post-create */
form.post .form-control{
   height: auto;
   width: 100%;
}
form.post .btn-primary{
   display: block;
   float: right;
   width: 25%;
}
form.post .or{
   display: block;
   float: right;
}
form.post .or a{
   color: red;
}
form.post .checkbox{
   margin: 5px;
   color: black;
}
.show-post-content {
   display: grid;
}
.show-post-content p{
   max-width: 75vw;
   white-space: pre-line;
   font-size: 120%;
}
.show-post-content p:first-child{
   min-height: 400px;
}
.full-post h1{
   padding-bottom: 65px;
}
.written-by small{
   float: right;
   padding: 10px;
   color: lightcyan;
   background: #db10100f;
   box-shadow: 0px 0px 3px 1px beige;
   border-radius: 20px;
   transition: 0.4s;
}
.written-by small:hover,
.written-by small:active {
   background: #b75e10;
}
.written-by small a{
   color: initial;
   text-decoration: none;
}
.full-post footer{
   width: 100%;
}
/* post edit */
.post-head h1{
   padding-bottom: 0px;
   border-bottom: none;
}
.post-head {
   padding-bottom: 1rem;
   border-bottom: 1px dashed #42548f;
}
.post-head>a{
   float: right;
   margin-left: 10px;
   
   color: red;
   text-decoration: none;
}
.post-head>a:last-of-type{
   color: rgb(251, 255, 250);
   text-shadow: 1px 1px 1px black;
   font-size: large;
}
body.edit .or{
   color: rgb(251, 255, 250);
   text-shadow: 1px 1px 1px black;
}
body.edit .or a{
   color: green;
   text-shadow: none;
}
/* post delete */
body.delete .box{
   min-width: 949px;
   background: #ff8251;
}
body.delete .btn-primary:hover,
body.delete .btn-primary:focus{
   background: red;
   color: black;
   transition: 1s;
}
blockquote.form-group {
   border-left: 6px solid;
   padding: 25px;
   max-width: 900px;
}
.comments {
   display: flex;
   flex-direction: column;
   margin-top: 25px;
}
.comment {
   display: flex;
   margin-top: 15px;
   margin-top: 20px;
}
.comment:last-child {
   margin-bottom: 40px;
}
.comment main {
   border-top: ridge whitesmoke;
}
.comment a{
   font-size: 25px;

   color: #fffb00;
   text-shadow: 1px 1px 2px black;
   text-decoration: none;
}
.comment small{   
   color: white;
   text-shadow: 1px 1px 1px black;
}
.comment img {
   margin-right: 15px;
   box-shadow: 0 0 5px 3px white;
   background: rgb(255, 255, 255, 0 );
}
.comment p {
   margin: 0;
}
#discussion{
   position: relative;
}

#discussion .form-control {
   background: #fff;
   outline: groove;
   max-width: 67.5vw;
   min-width: 67.5vw;
   min-height: 50px;
}
#discussion .form-control.disabled {
   background: #ff00002e;
   color: red;
   outline: ridge red;
   cursor: no-drop;
}
.err{
   position: relative;
   top: 11px;
   margin: 5px;
   padding: 5px;
   background: red;
   color: white;
   border-radius: 15px;
}
.emoji-btn{
   position: absolute;
   left: 4px;
   bottom: -9px;

   width: 36px;
   height: 36px;

   background: none;
   cursor: pointer;
}
.emoji-btn.active{
   left: 4px;
   bottom: 87px;
   display: none;
}
.emoji-list{
   position: relative;
   left: 39px;
   top: -1px;
   width: 132.5px;
   margin-top: 5px;
   padding: 1.8px;

   list-style: none;
   background: rgba(169, 222, 252, 0.8);

   display: grid;
   grid-template-columns: repeat(4, 28px );
   column-gap: 5px;
   row-gap: 1px;
   justify-items: center;
}
.emoji-list>li{
   padding: 5px;
   cursor: pointer;
   background: whitesmoke;
}
.emoji-list>li:hover{
   background: white;
}
.emoji-list li:nth-child(1)::after{
   content: '\01F642';
}
.emoji-list li:nth-child(2)::before{
   content: '\01F609';
}
.emoji-list li:nth-child(3)::before{
   content: '\01F600';
}
.emoji-list li:nth-child(4)::before{
   content: '\01F497';
}
.emoji-list li:nth-child(5)::before{
   content: '\01F641';
}
.emoji-list li:nth-child(6)::before{
   content: '\01F61B';
}
.emoji-list li:nth-child(7)::before{
   content: '\01F62E';
}
.emoji-list li:nth-child(8)::before{
   content: '\01F525';
   /* debug */
   padding-left: 4.2px;
   position: relative;
   left: -2px;
}
.emoji-list li:nth-child(9)::before{
   content: '\01F624';
}
.emoji-list li:nth-child(10)::before{
   content: '\2728';
}
.emoji-list li:nth-child(11)::before{
   content: '\01F44E';
   /* debug */
   padding: 0 1px;
}
.emoji-list li:nth-child(12)::before{
   content: '\01F44D';
   /* debug */
   padding: 0 1px;
}